<!--
File: voter_analytics/templates/voter_analytics/graphs.html
Author: Samhitha Somavarapu (samhitha@bu.edu), 11/11/2024
Description: The graphs HTML file for the voter_analytics
application. Displays histograms and a pie chart.
-->

{% extends 'voter_analytics/base.html' %}
{% block content %}
<div class="container">

    <div>
        {% include 'voter_analytics/search_graphs.html' %}
    </div>
    
    <h1>Graphs</h1>
        <!-- display the histogram by birth year -->
        <div class="row">
            {{bar_div|safe}}
        </div>

        <!-- show the pie chart -->
        <div>
            {{pie_div|safe}} <!-- |safe means to "do" (render) the HTML code -->
        </div>

        <!-- display histogram of voter scores -->
        <div class="row">
            {{bar2_div|safe}}
        </div>
    </div>
    
{% endblock %}