<!-- 
File: voter_analytics/templates/voter_analytics/voters.html
Author: Samhitha Somavarapu (samhitha@bu.edu), 11/11/2024
Description: The HTML file to show all the voters in the 
voter_analytics application. This file "inherits" from base.html.
-->

{% extends 'voter_analytics/base.html' %}
<h1>Showing all Voters</h1>
{% block content %}
<div class="container">

    <div>
        {% include 'voter_analytics/search.html' %}
    </div>

    <h1>Voters</h1>
    <div class="row">
        <table>
            <tr>
                <th>Name</th>
                <!-- <th>Last Name</th> -->
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Party Affiliation</th>
                <th>Voter Score</th>
                <!-- <th>Division</th>
                
                <th>First Half</th>
                <th>Second Half</th>
                <th>Finish Time</th> -->
            </tr>
    
            {% for v in voters %}
            <tr>
                
                <!-- <td>{{v.first}}</td> -->
                <td><a href="{% url 'show_voter' v.pk %}">{{v.first}} {{v.last}}</a></td>
                <td>{{v.adNumber}} {{v.street}}</td>
                <td>{{v.dob}}</td>
                <td>{{v.party}}</td>
                <td>{{v.voter_score}}</td>
                <!-- <td>{{r.gender.0}} {{r.division}}</td>
                
                <td>{{r.time_half1|time:"H:i:s"}}</td>
                <td>{{r.time_half2|time:"H:i:s"}}</td>
                <td>{{r.time_finish|time:"H:i:s"}}</td> -->
             
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="row">
        {% if is_paginated %}
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li>
                    <span><a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Previous</a></span>
             
                </li>
            {% endif %}
                <li class="">
                    <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </li>
            {% if page_obj.has_next %}
                <li>
                    <span><a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">Next</a></span>
                </li>
            {% endif %}
            </ul>
        {% endif %}
    </div>
</div>    
{% endblock %}