<!-- restaurant/templates/restaurant/main.html 
 Show an order form to the client.
 -->

 {% extends 'restaurant/base.html' %}

 {% block content %}
 <h2>Welcome!</h2>
 <img src="https://media.discordapp.net/attachments/1205715223382593607/1290401680008941665/image.png?ex=66fc53b7&is=66fb0237&hm=ce92c5dd5e1d63a5f11501602d47ebd02dbdd37cfeb0eba3914839aa0a228cdd&=&format=webp&quality=lossless&width=687&height=385" alt="NOT in-n-out">

 <p>Welcome to <strong>Out-N-In</strong>, the West Coast's favorite burger chain!</p>
 <p>Information:</p>
 <table>
    <tr>
        <td>Name:</td>
        <td>Out-N-In</td>
    </tr>
    <tr>
        <td>Hours:</td>
        <td>Every day 10am - 12am
        </td>
    </tr>
    <tr>
        <td>Location:</td>
        <td>5611 Santa Teresa Blvd, San Jose, CA 95123</td>
    </tr>
 </table>

 {% endblock %}