<!--
File: mini_fb/templates/mini_fb/base.html
Author: Samhitha Somavarapu (samhitha@bu.edu), 10/03/2024
Description: The base HTML file for the mini_fb application.
Includes a header, navigation, and footer.
-->

<!-- 
    - create all of the standard HTML tags (<head>, <body>, etc.)
    - link in CSS file(s)
    - create a standard header/footer to display on all pages
    - provide navigation links for your application (not needed in this assignment, but for future parts)
-->

{% load static %}
<html>
    <head>
        <title>Fakebook</title>
        <link rel="icon" type="image/x-icon" href="https://cdn-icons-png.flaticon.com/256/124/124010.png">
        <link rel="stylesheet" href="{% static 'styles-mini-fb.css' %}"> <!-- note: create new stylesheet -->
    </head>
    <body>
        <header>
            <h1>Mini Facebook</h1>
            <!-- Log in info -->
        </header>

        <nav>
            <ul>
                <li><a href="{% url 'show_all_profiles' %}">All Profiles</a></li>
                <li><a href="{% url 'create_profile' %}">Create New Profile</a></li>
            </ul>
        </nav>
    
    {% block content %}
    {% endblock %}   
    
    <footer>
        <br><br> MiniFacebook (2024-)
    </footer>
  
    </body>
</html>