<!-- 
File: mini_fb/templates/mini_fb/show_profile.html
Author: Samhitha Somavarapu (samhitha@bu.edu), 10/03/2024
Description: The HTML file to show a specific profile in the 
mini_fb application. This file "inherits" from base.html.
-->

{% extends 'mini_fb/base.html' %}


<!-- display a context variable called profiles -->
<!-- {{profiles}} -->

{% block content %}

<!-- <h1>All Profiles</h1>

<div>
    <table>
        {% for person in profiles %}
    <profile>
        <tr>
            <td><img src="{{person.icon}}" alt="{{person.icon}}" width="150" height="150"></td>
            <td>{{person}}</td>
        </tr>
    </profile>
        {% endfor %}
    </table> -->

    <profile>
        <h1>{{profile.first}} {{profile.last}}</h1>
        <table>
            <tr>
                <td><img src="{{profile.icon}}" alt="{{profile.first}} {{profile.last}}" width="300" height="300"></td>
                <td><br>{{profile.city}} <br> {{profile.email}}</td>
            </tr>
        </table>

        <h4>
            <!-- Checks for a) logged in user and b) that the user is the one
                associated with the profile. If both, lets user create a new
                status message. -->
            {% if user.is_authenticated and user == profile.user %}
            <a href="{% url 'create_status' profile.pk %}">Post a new status</a>  
                | <a href="{% url 'update_profile' profile.pk %}">Update Profile</a>
            {% endif %}
        </h4>

        <table>
            <tr>
                <th>Status Messages</th>
            </tr>
            <!-- Loops through any existing status messages for a specific Profile. If empty, says so. -->
            {% for status in statuses %}
            <tr>
                
                <!-- Loops through any existing Images for this StatusMessage and displays them -->
                {% for img in status.get_images %}
                    <td> 
                    <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}' width="300">
                    </td>
                {% endfor %}
                <td>{{status.message}} <br>{{status.published}} <br>
                    
                <!-- Checks for a) logged in user and b) that the user is the one
                    associated with the profile. If both, lets user delete
                    and update status messages. -->
                {% if user.is_authenticated and user == profile.user %}
                    <a href="{% url 'delete_status' status.pk %}">Delete</a> | <a href="{% url 'update_status' status.pk %}">Update</a></td>
                {% endif %}
            </tr>
            <!-- If there are no status messages -->
            {% empty %}
            <tr>
                <td>No status messages to display.</td>
            </tr>
            {% endfor %}
        </table>

        <br>

        <table>
            <tr>
                <th>Friends 
                    <!-- Checks for a) logged in user and b) that the user is the one
                     associated with the profile. If both, lets user see friend suggestions
                     in order to add friends, and lets user see their news feed as well. -->
                    {% if user.is_authenticated and user == profile.user %}
                    | <a href="{% url 'friend_suggestions' profile.pk %}">See friend suggestions</a> | <a href="{% url 'news_feed' profile.pk %}">News Feed</a></td></th> 
                    {% endif %}
            </tr>
            <!-- Loops through Friend list for the Profile, and displays links to the Friends' pages. -->
             {% for friend in friends %}
             <profile>
                <tr>
                    <td><a href="{% url 'show_profile' friend.pk %}"><img src="{{friend.icon}}" alt="{{friend.icon}}" width="150" height="150"></a></td>
                    <td><a href="{% url 'show_profile' friend.pk %}">{{friend}}</a></td>
                </tr>
             </profile>
             {% empty %}
             <tr>
                <td>No friends to display.</td>
             </tr>
             {% endfor %}
        </table>

    </profile>


{% endblock %}

