<!-- 
File: mini_fb/templates/mini_fb/show_profile.html
Author: Samhitha Somavarapu (samhitha@bu.edu), 10/03/2024
Description: The HTML file to show a specific profile in the 
mini_fb application. This file "inherits" from base.html.
-->

{% extends 'mini_fb/base.html' %}


<!-- display a context variable called profiles -->
<!-- {{profiles}} -->

{% block content %}

<!-- <h1>All Profiles</h1>

<div>
    <table>
        {% for person in profiles %}
    <profile>
        <tr>
            <td><img src="{{person.icon}}" alt="{{person.icon}}" width="150" height="150"></td>
            <td>{{person}}</td>
        </tr>
    </profile>
        {% endfor %}
    </table> -->

    <profile>
        <h1>{{profile.first}} {{profile.last}}</h1>
        <table>
            <tr>
                <td><img src="{{profile.icon}}" alt="{{profile.first}} {{profile.last}}" width="300" height="300"></td>
                <td><br>{{profile.city}} <br> {{profile.email}}</td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <th>Status Messages</th>
            </tr>
            <!-- Loops through any existing status messages for a specific Profile. If empty, says so. -->
            {% for status in statuses %}
            <tr>
                
                <!-- Loops through any existing Images for this StatusMessage and displays them -->
                {% for img in status.get_images %}
                    <td> 
                    <img src='{{img.image_file.url}}' alt='{{img.image_file.url}}' width="300"> <br> {{status.message}}
                    </td>
                    {% empty %}
                    <td>{{status.message}} </td>
                {% endfor %}
            </tr>
            {% empty %}
            <tr>
                <td>No status messages to display</td>
            </tr>
            {% endfor %}
        </table>

        <h4>
            <a href="{% url 'create_status' profile.pk %}">Post a new status</a>
        </h4>

    </profile>


{% endblock %}

