body {
    background: #3b5998;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifx;
}

div {
    color: white;
    border: 1px solid white;
    margin: 10px;
    padding: 10px;
}

h2 {
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}
h3 {
    font-size: larger;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

table {
    border: 0px solid;
}

td {
    border: 1px solid;
    text-align: center;
}

a {
    color: #dfe3ee;
}

a:hover {
    color: #3b5998;
}
  
::selection {
    color: #3b5998;
    background: white;
}

/* nav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #8b9dc3;
} */