<!-- quotes/templates/quotes/about.html -->

{% extends 'quotes/base.html' %}

{% block content %}

    <h1>About</h1>

    <p>
        James Baldwin (1924-1987) was an African American writer and civil rights activist. He was born in Deal Island, Maryland, 
        to a mother who fled from the South during the <a href="https://en.wikipedia.org/wiki/Great_Migration_(African_American)">Great Migration.</a> 
        Baldwin's work encompasses themes of masculinity, sexuality, race, and class, and some of his work is based off people 
        from his life, such as his mother and stepfather, who some characters in his semi-autographical novel <i>Go Tell It on the 
        Mountain</i> are based off of. 
    </p>

    <p>
        A list of his novels:
    </p>    

    <li><i><a href="https://www.goodreads.com/book/show/17143.Go_Tell_It_on_the_Mountain">Go Tell It on the Mountain</a></i> (1953)</li>
    <li><i><a href="https://www.goodreads.com/book/show/406235.Giovanni_s_Room">Giovanni's Room</a></i> (1956)</li>
    <li><i><a href="https://www.goodreads.com/book/show/38474.Another_Country">Another Country</a></i> (1962)</li>
    <li><i><a href="https://www.goodreads.com/book/show/38463.If_Beale_Street_Could_Talk">If Beale Street Could Talk</a></i> (1974); with <a href="https://en.wikipedia.org/wiki/If_Beale_Street_Could_Talk_(film)">a movie</a> made in 2018</li>

    <p>
        Some of his nonfictional works:
    </p>

    <li><i><a href="https://www.goodreads.com/book/show/410810.Notes_of_a_Native_Son">Notes of a Native Son</a></i> (1955)</li>
    <li><i><a href="https://www.goodreads.com/book/show/38458.Nobody_Knows_My_Name">Nobody Knows My Name</a></i> (1961)</li>
    <li><i><a href="https://www.goodreads.com/book/show/464260.The_Fire_Next_Time">The Fire Next Time</a></i> (1963)</li>
    <li><i><a href="https://www.goodreads.com/book/show/743831.The_Devil_Finds_Work">The Devil Finds Work</a></i> (1976)</li>


{% endblock %}